html {
    font-family: pt sans, Helvetica, Arial, sans-serif
}

@media(min-width:48em) {
    html {
        font-size: 17px
    }
}

@media(min-width:58em) {
    html {
        font-size: 21px
    }
}
  

.image {
    border: 1px solid #021a40;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto
}


.sidebar {
    text-align: center;
    padding: 2rem 1rem;
    color: rgba(255, 255, 255, .5);
    background-color: #202020
}

@media(min-width:48em) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 18rem;
        text-align: left
    }
}

.sidebar a {
    color: #fff
}

.sidebar-about h1 {
    color: #fff;
    margin-top: 0;
    font-family: abril fatface, serif;
    font-size: 3.25rem
}

.sidebar-nav {
    margin-bottom: 1rem
}

.sidebar-nav-item {
    display: block;
    line-height: 1.75
}

a.sidebar-nav-item:hover, a.sidebar-nav-item:focus {
    text-decoration: underline
}

.sidebar-nav-item.active {
    font-weight: 700
}

@media(min-width:48em) {
    .sidebar-sticky {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        left: 1rem
    }
}

.content {
    padding-top: 4rem;
    padding-bottom: 4rem
}

@media(min-width:48em) {
    .content {
        max-width: 48rem;
        margin-left: 20rem;
        margin-right: 2rem
    }
}

@media(min-width:64em) {
    .content {
        margin-left: 22rem;
        margin-right: 4rem
    }
}

@media(min-width:48em) {
    .layout-reverse .sidebar {
        left: auto;
        right: 0
    }

    .layout-reverse .content {
        margin-left: 2rem;
        margin-right: 20rem
    }
}
.sidebar-about-img{
    display: inline-block;
    justify-self: center;
}
@media(min-width:48em) {
    .sidebar-about-img{
        display: block;
    }
}
@media(min-width:64em) {
    .layout-reverse .content {
        margin-left: 4rem;
        margin-right: 22rem
    }
}
   