* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

html, body {
    margin: 0;
    padding: 0;
    animation: fade-in .4s ease;
}

html {
    font-family: helvetica neue, Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.5
}

@media(min-width:38em) {
    html {
        font-size: 21px
    }
}

body {
    color: rgb(32, 31, 31);
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

a {
    color: rgb(32, 31, 31);
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline
}

h1, h2, h3 {
    margin-bottom: .5rem;
    font-weight: 700;
    line-height: 1.25;
    color: #302f2f;
    text-rendering: optimizeLegibility
}

h1 {
    font-size: 2rem
}

h2 {
    margin-top: 1rem;
    font-size: 1.5rem
}

h3 {
    margin-top: 1.5rem;
    font-size: 1.25rem
}

p {
    margin-top: 0;
    margin-bottom: 0.5rem
}

ul, dl {
    margin-top: 0
}

dt {
    font-weight: 700;
    margin-top: .2rem
}

dd {
    margin-bottom: .1rem
}
 
img {
    display: block;
    max-width: 100%;
    margin: 0 0 1rem;
    border-radius: 5px
}

.container {
    max-width: 48rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto
}

 